body {
  background-color: black;
}

.center {
  /*
  magic which centers the div vertically and horizontally, thanks fam
  found here:
  http://www.tipue.com/blog/center-a-div/
  */
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 33%;   /* width & height specify the div size in the center) */
  height: 88%;
}

.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}

.widget {
  background-color: black;
  color: #666666;
  font-family: monospace;
  font-weight: 200;
  font-size: 200%;
  margin: 2%;
}

#eventLogTitle {
  /* give it a little more room from the top */
  /* margin-top: 11%; */
}

#eventLog {
  overflow: hidden;
  color: #ee30ee; /* neon pink kind of */
  font-family: monospace;
  font-weight: 300;
  font-size: 150%;
  resize: none;
}

