body {
  background-color: black;
}

.center {
  margin: auto;
  width: 33%;
}

.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}

.widget {
  background-color: black;
  color: #666666;
  font-family: monospace;
  font-weight: 200;
  font-size: 200%;
  margin: 1%;
}

#eventLog {
  overflow: hidden;
  color: #ee30ee; /* neon pink kind of */
  font-family: monospace;
  font-weight: 300;
  font-size: 150%;
  resize: none;
}

